<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
	  
   <add name="FINGERPRINTINBUSDBEntities" connectionString="metadata=res://*/BioPaymentModel.csdl|res://*/BioPaymentModel.ssdl|res://*/BioPaymentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AVIROT-MOB\SQLEXPRESS;initial catalog=FINGERPRINTINBUSDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>